html { 
    background-color: #E0E0E0;
    font-family: Helvetica, sans-serif;
}

body { 
    background-color: #F6FCEA;
    max-width: 60em;
    margin: 2em auto;
}
h1 {
    text-align: center;
    background-color: #B71236;
    color: #FFFFFF;
    font-family: Georgia, serif;
    text-transform: uppercase;
}
a {
    color: #808080;
}
hr {
    color: #b71236;
}
footer {
	position: relative;
	bottom: 0;
	padding: 1px;
	width: 99%;
	color:#000000;
    text-align: right;
    border: 3px solid #C7CCBD;
}
figure {
    border: 3px solid #000000;
    max-width: 100%;
	height: auto;
    text-align: center;
    width: 67%;
    margin: auto;
    padding: 0.5em;
}
img {
    display: block;
    margin-left: auto;
    margin-right: 50%;
    vertical-align: middle;
}
p {
    background-color: #FCFCEA;
}
ul {
    list-style-image: url('img/strawberry-icon.png');
}
figcaption {
    text-align: center;
}
#Dans_litterature {
    text-indent: 25px;
}